    .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #f5f4f5 !important;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }

  .jumbotron {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  border-radius: .3rem;
}

  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .notebook-card {
      position: relative;
      padding-left: 30px;
      border-left: 4px solid #ccc;
      min-height: 300px; 
      max-width: 15rem;
  }

  .notebook-card::before {
      content: '';
      position: absolute;
      top: 15px;
      left: 5px;
      width: 10px;
      height: calc(100% - 30px);
      background: repeating-linear-gradient(
          to bottom,
          transparent,
          transparent 10px,
          #000 11px,
          transparent 20px
      );
      border-radius: 5px;
  }


    .card-link {
        text-decoration: none;  
        display: block;         
    }


    .card-link:hover .notebook-card {
        transform: scale(1.05); 
        transition: transform 0.3s ease; 
    }


    .card-link:hover .notebook-card {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    }
