body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px; 
    min-height: 0px; 
}

.left-login {
    width: 460px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: black;
    font-size: 2.5vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    margin-top: 20px;
}

.card-cadastro {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    margin-top: 20px; 
}

.card-login > h1 {
    color: #7f37c9;
    font-weight: 800;
    margin: 0;
}

.card-cadastro > h1 {
    color: #7f37c9;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #b691db !important;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #95cadf56;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #000000de;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #b691db !important;
}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin-top: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: white;
    background: #7f37c9;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #95cadf56;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }

    .left-login > h1 {
        display: none;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 40vh;
    }

    .card-login {
        width: 90%;
    }
}



.textfieldTime {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfieldTime > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #b691db !important;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #95cadf56;
    outline: none;
    box-sizing: border-box;
}

.textfieldTime > label {
    color: #000000de;
    margin-bottom: 10px;
}

.textfieldTime > input::placeholder {
    color: #b691db !important;
}